<div class='main-nav'>
        <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>Spark Equation</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li>
                    <a href='/' data-bind='css: { active: route().page === "home-page" }'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li>
                    <a href='/menu' data-bind='css: { active: route().page === "edit-menu" }'>
                        <span class='glyphicon glyphicon-th-list'></span> Manage Menu
                    </a>
                </li>
                <li>
                    <a href='/lunch' data-bind='css: { active: route().page === "edit-lunch" }'>
                        <span class='glyphicon glyphicon-edit'></span> Edit Lunch
                    </a>
                </li>
                <li>
                    <a href='/order' data-bind='css: { active: route().page === "order" }'>
                        <span class='glyphicon glyphicon-usd'></span> Manage Order
                    </a>
                </li>
                <!--<li>
                    <a href='/counter' data-bind='css: { active: route().page === "counter-example" }'>
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li>
                    <a href='/fetch-data' data-bind='css: { active: route().page === "fetch-data" }'>
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
